﻿@model WebApplication.GroupStandarts

@{
    ViewData["Title"] = "Details";
}

<h1>Подробно</h1>

<div>
    <h4>Группа нормативов</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardsName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdStandards">Изменить</a> |
    <a asp-action="Index">Назад в список</a>
</div>
