﻿@model IEnumerable<WebApplication.GroupStandarts>

@{
    ViewData["Title"] = "Index";
}

<h1>Группа нормативов</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               ID
            </th>
            <th>Наименование </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdStandards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardsName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStandards">Измерить</a> |
                <a asp-action="Details" asp-route-id="@item.IdStandards">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStandards">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
