﻿@model WebApplication.NormativeWork

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Нормативные работы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StandartsId" class="control-label"></label>
                <select asp-for="StandartsId" class ="form-control" asp-items="ViewBag.StandartsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NormativeWorkName" class="control-label"></label>
                <input asp-for="NormativeWorkName" class="form-control" />
                <span asp-validation-for="NormativeWorkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitId" class="control-label"></label>
                <select asp-for="UnitId" class ="form-control" asp-items="ViewBag.UnitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NormativeValue" class="control-label"></label>
                <input asp-for="NormativeValue" class="form-control" />
                <span asp-validation-for="NormativeValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад в список</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
