﻿@model WebApplication.NormativeWork

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NormativeWork</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormativeWorkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormativeWorkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormativeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormativeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standarts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standarts.IdStandards)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.UnitName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdNormativeWork" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
