﻿@model WebApplication.NormativeWork

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NormativeWork</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormativeWorkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormativeWorkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormativeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormativeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standarts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standarts.IdStandards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.UnitName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdNormativeWork">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
