﻿@model IEnumerable<WebApplication.NormativeWork>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Группа нормативов
            </th>
            <th>
               Наименование норматива
            </th>
            <th>
               Еденицы измерения
            </th>
            <th>
               Значение
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Standarts.StandardsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormativeWorkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormativeValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNormativeWork">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNormativeWork">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNormativeWork">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
